<div class="flex justify-center flex-col">
  <h1 class="text-2xl font-bold mb-4 ml-12">{{ headerLabel }}</h1>
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" (ngSubmit)="addModifyClassCourse()" #courseForm="ngForm">
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="class">
       CLASS LEVEL NAME
      </label>
      <input class="shadow appearance-none border rounded w-1/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="class" minlength="2" type="text" placeholder="Class Name" name="class" [(ngModel)]="name" required>
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="startDate">
       START DATE
      </label>
      <input class="shadow appearance-none border rounded w-1/4 py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
             id="startDate" type="date" placeholder="Last Name" name="startDate" [(ngModel)]="startDate" required>
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="endDate">
        END DATE
      </label>
      <input class="shadow appearance-none border rounded w-1/4 py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
             id="endDate" type="date" placeholder="End Date" name="endDate" [(ngModel)]="endDate" required>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 disabled:bg-slate-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit" [disabled]="!courseForm.valid">
        {{ buttonLabel }}
      </button>
      <button class="bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit" (click)="cancel()">
        CANCEL
      </button>
    </div>
  </form>
</div>
